/* Write your CSS here */
.not-found-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
}

.nf-heading {
  color: white;
  font-family: 'Bree Serif';
}
